body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #ff9a9e, #fecfef, #fcb69f);
    background-size: 300% 300%;
    animation: gradientMove 12s ease infinite;
}

@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.card {
    backdrop-filter: blur(25px);
    background: rgba(255,255,255,0.25);
    padding: 45px;
    border-radius: 30px;
    text-align: center;
    color: white;
    box-shadow: 0 20px 60px rgba(0,0,0,0.2);
    width: 380px;
    transition: transform 0.4s ease;
}

.card:hover {
    transform: translateY(-8px);
}

h1 {
    margin: 0;
    font-size: 26px;
    font-weight: bold;

    background: linear-gradient(90deg, #ff9a9e, #fad0c4, #ff9a9e);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: rainbowMove 5s linear infinite;
}

.date {
    margin-top: 10px;
    opacity: 0.9;
    font-size: 15px;
}

.time {
    margin-top: 25px;
    font-size: 22px;
    font-weight: bold;

    background: linear-gradient(90deg, #ff9a9e, #fad0c4, #ff9a9e);
    background-size: 300%;
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: rainbowMove 6s linear infinite;
}

@keyframes rainbowMove {
    0% { background-position: 0% }
    100% { background-position: 300% }
}

img {
    margin-top: 25px;
    width: 100%;
    border-radius: 25px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}
