body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', sans-serif;
    background: url("images/love.jpg") no-repeat center center;
    background-size: contain;  /* 保持比例，完整顯示圖片 */
    background-color: #000;    /* 如果圖片小於螢幕，加深色背景避免空白 */
    position: relative;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 105, 180, 0.35);
    backdrop-filter: blur(3px);
}

@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.card {
    position: relative;
    z-index: 2;

    backdrop-filter: blur(25px);
    background: rgba(255,255,255,0.15);
    padding: 45px;
    border-radius: 30px;
    text-align: center;
    color: white;
    box-shadow: 0 20px 60px rgba(0,0,0,0.4);
    width: 380px;
}

.card:hover {
    transform: translateY(-8px);
}

h1 {
    margin: 0;
    font-size: 26px;
    font-weight: bold;

    background: linear-gradient(90deg, #ff2e88, #ff0066, #d40078);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: rainbowMove 5s linear infinite;
}

.date {
    margin-top: 10px;
    opacity: 0.9;
    font-size: 15px;
}

.time {
    margin-top: 25px;
    font-size: 22px;
    font-weight: bold;

    background: linear-gradient(90deg, #ff2e88, #ff0066, #d40078);
    background-size: 300%;
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: rainbowMove 6s linear infinite;
}

@keyframes rainbowMove {
    0% { background-position: 0% }
    100% { background-position: 300% }
}

img {
    margin-top: 25px;
    width: 100%;
    border-radius: 25px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}
